/* ======== RESET ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #000;
  margin: 0;
}


/* ======== SECCIÓN TEMPORADA ======== */
.temporada {
  margin-top: 70px;
}
.obra {
  position: relative;
  margin-bottom: 2rem;
  
}
.obra img.fondo {
  width: 100%;
  height: auto;
  display: block;
}
.info-puestaenescena {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  width: 100%;
  padding: 2rem;
  color: white;
  background: linear-gradient(
    to top, 
    rgb(0, 168, 171) 0%,    /* fuerte abajo */
    rgba(0, 0, 0, 0.5) 40%,   /* transición */
    rgba(212, 129, 129, 0.1) 80%,   /* casi transparente arriba */
    rgba(226, 223, 223, 0) 100%
  );
  z-index: 2;
}

.fecha-mes {
  white-space: nowrap;
  display: block;     /* asegura que cada frase sea un renglón */
  text-align: center;
}

.bloque-fecha {
  flex: 0 0 100px;
  text-align: center;
  font-size: 24px;
  display: inline;
}
.bloque-fecha strong {
  display: inline;
  font-size: 64px;
}

.bloque-info {
  flex: 1;
  padding-left: 1rem;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* ↓↓↓ alinea hacia abajo */
}

.titulo-obra {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0.3rem 0;
}
.detalle {
  font-weight: 400;
}
.linea {
  margin-top: 0.5rem;
  border: 0;
  height: 1px;
  background-color: #fff;
}


/* DESKTOP: info a ancho completo dentro del flujo */
@media (min-width: 768px) {
 

  /* Haz que la info ocupe todo el ancho disponible del elemento .obra */
  .info-puestaenescena {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.5rem 3rem;
    box-sizing: border-box;
    bottom: 2rem;
    max-width: none;      /* elimina cualquier limitador anterior */
    margin: 0 auto;
    z-index: 20;
  }
}

